
@{
    ViewData["Title"] = "EditFlashCards";
}

    <form method="post" asp-controller="Home" asp-action="AddFC">
        <p class="FCFormLabel">Front of Card:</p>
        <input type="text" class="FCFormInput" name="front" />

        <p class="FCFormLabel">Back of Card:</p>
        <input type="text" class="FCFormInput" name="back" />

        <input type="submit" />


    </form>

