@{
    ViewData["Title"] = "Flash Gordon!";
}

<main>
    <div id="gameWindow">
        <div id="gameHead">
            <h2 id="gameTitle">Game Time!</h2>
            <h3 id="message"></h3>
        </div>
        <div id="gameBody">
            <div id="flashCardStandin">
                <div id="gameCard">
                    <p id="flashCardCategory"></p>
                    <p id="flashCardContent"></p>
                </div>
                <button onclick="gameUtilities.flipCard()" type="button" id="flipButton" class="centeredButton flashCardButton">Flip Card</button>
                <button onclick="gameUtilities.nextCard()" type="button" id="nextButton" class="centeredButton flashCardButton">Next Card</button>
            </div>
            <button id="startButton" onclick="startGame()" type="button" class="flashCardButton">Start</button>
        </div>
    </div>
</main>
<script src="~/js/editControls.js"></script>
<script src="~/js/gameControls.js"></script>