@{
    ViewData["Title"] = "Flash Gordon!";
}

<main>
    <div id="gameWindow">
        <div id="gameHead">
            <h2 class="gameTitle">Game Time!</h2>
        </div>
        <div id="gameBody">
            <button onclick="startGame()" type="button" class="flashCardButton">Start</button>
        </div>
    </div>
</main>
<script src="~/js/flashCardControls.js"></script>