@{
    ViewData["Title"] = "Flash Gordon!";
}

<main>
    <div id="gameWindow">
        <div id="gameHead">
            <h2 class="gameTitle">Game Time!</h2>
        </div>
        <div id="gameBody">
            <div id="flashCardStandin">
                <div id="flashCardCategory"></div>
                <div id="flashCardContent"></div>
                <button type="button" id="flipButton" class="centeredButton flashCardButton">Flip Card</button>
            </div>
            <button onclick="startGame()" type="button" class="centeredButton flashCardButton">Start</button>
        </div>
    </div>
</main>
<script src="~/js/gameControls.js"></script>