<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FlashGordon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav id="navBar">
        <a class="navElement" asp-controller="Home" asp-action="Index">Home</a>
        <a class="navElement" asp-controller="Home" asp-action="EditFlashCards">Edit Cards</a>
    </nav>
    <h1 class="mainTitle">Flash Gordon!</h1>
    <!--Edit form is built here-->
    <div id="formStandin"></div>
    <div class="modalBackground"></div>
    @RenderBody()


    @RenderSection("Scripts", required: false)
</body>
</html>
